body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

textarea {
    resize: none;
    max-height: 64px;
}

input:focus,
textarea {
    outline: none !important;
}

.column-main-font {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
}

.column-header {
    font-weight: bold;
    max-height: 33px;
    overflow: hidden;
    margin-bottom: 5px;
}

.column-grey-footer {
    color: #6B808C;
    margin-top: 7px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.removable {
    margin-bottom: 8px;
}

.column-icon {
    padding-right: 5px;
}

.column {
    flex: 0 0 auto;
    width: 272px;
    transition: all 2s;
    height: fit-content;
    background: #DFE3E6;
    border-radius: 3px;
    margin: 0 10px 0 10px;
    word-break: break-word;
}

.highlight-card {
    background: #C9D2D9;
    padding: 10px 0;
    height: 0;
    pointer-events: none;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    transition: height 100ms, padding 100ms, margin 100ms;
    margin: 0 2px;
    color: black;
    font-weight: 400;
    border-radius: 3px;
    overflow: hidden;
}

.green-flat-button {
    padding: 7px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: #39C071;
}

.green-column-footer {
    justify-content: space-between;
}

.scrolling-wrapper-flex-box {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    min-height: 100%;
    margin: 20px 0 20px 0;
    overflow-x: auto;
}

.scrolling-wrapper-flex-box::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrolling-wrapper-flex-box::-webkit-scrollbar {
    height: 21px;
    background-color: transparent;
}

.scrolling-wrapper-flex-box::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: white;
    border-radius: 12px;
    border: 7px solid transparent;
}

.invisible-card {
    margin: 0 !important;
    padding: 0 !important;
    height: 0 !important;
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.absolute-card {
    position: absolute !important;
    z-index: 5;
    pointer-events: none;
    max-height: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
    overflow: scroll;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
}

.absolute-half-visible-card {
    opacity: .5 !important;
}

.absolute-invisible-card {
    opacity: 0 !important;
}

.space-elements::before,
.space-elements::after {
    content: open-quote;
    visibility: hidden;
    width: 10px;
    height: 1px;
}

.column-container {
    margin: 10px;
}

.button {
    user-select: none;
}

.selectable-area {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.selectable-card {
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important;
}

.cards-list {
    width: 100%;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.card-list-with-input {
    max-height: calc(100vh - 220px) !important;
}

.textarea {
    padding: unset;
    border: none;
    -webkit-highlight: unset;
    background: none;
    width: 100%;
    word-break: break-word;
}

.absolute-trash {
    border-radius: 50px;
    position: absolute;
    z-index: 4;
    left: calc(100vw / 2 - 25px);
    bottom: -70px;
    transition: transform 300ms;
    background: #DFE3E6;
}

.absolute-trash-icon {
    font-size: 30px !important;
    padding: 10px;
    color: #738FA3;
}

.transform-trash {
    transform: translateY(-100px);
}

.white-card {
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    color: black;
    word-break: break-word;
    font-weight: 400;
    padding: 10px;
    transition: height 200ms, padding 200ms, margin 200ms, opacity 200ms;
    margin: 8px 2px;
}

.grey-text-color {
    color: #738FA3;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}